repos:
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-rc.4
  hooks:
  - id: go-fmt
    args: [-w]
- repo: https://github.com/biomejs/pre-commit
  rev: v2.3.10
  hooks:
  - id: biome-check
    args: [--unsafe]
  - id: biome-check
    name: biome format HTML
    files: .*\.html$
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix, --indent=4, --no-sort, --trailing-commas]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: file-contents-sorter
    files: \.gitignore
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
