<!DOCTYPE html>
<html lang="en">
<head>
    <header class="site-header">
        <a href="/" class="site-brand">
            <img src="/static/logo.svg" alt="RareTide logo" class="logo" />
            <h1 class="site-title">RareTide</h1>
        </a>
    </header>

    <title>{% block title %}RareTide{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="/static/logo.svg">
    <link rel="stylesheet" href="/static/styles.css">
    <!-- Bootstrap Icons CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {% block head %}{% endblock %}
</head>
<body>

    <main>
        {% block content %}{% endblock %}
    </main>
    {% include 'footer.html' %}
</body>
</html>
