name: build

on:
  workflow_dispatch:
  push:
    branches:
    - main
    tags:
    - '*'

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build & Push Docker image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3
    - uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Create Docker tag
      id: tag
      run: |
        if [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" && "${GITHUB_REF}" == "refs/heads/main" ]]; then
          echo "value=stable" >> "$GITHUB_OUTPUT"
        elif [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" && "${GITHUB_REF}" != "refs/heads/main" ]]; then
          echo "value=test" >> "$GITHUB_OUTPUT"
        else
          echo "value=latest" >> "$GITHUB_OUTPUT"
        fi

    - name: Build & Push `${{ steps.tag.outputs.value }}` tag
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:${{ steps.tag.outputs.value }}
          ghcr.io/${{ github.repository }}:${{ github.sha }}
